---

- ansible.builtin.include_tasks: "{{ role_path }}/tasks/setup_redhat7.yml"
  when: ansible_facts['os_family'] == 'RedHat' and ansible_facts['distribution_major_version'] | int < 8

# RedHat > 7 and Fedora
- ansible.builtin.include_tasks: "{{ role_path }}/tasks/setup_redhat.yml"
  when: ansible_facts['os_family'] == 'RedHat' and ansible_facts['distribution_major_version'] | int >= 8

- ansible.builtin.include_tasks: "{{ role_path }}/tasks/setup_debian.yml"
  when: ansible_facts['os_family'] == 'Debian'

- ansible.builtin.include_tasks: "{{ role_path }}/tasks/setup_archlinux.yml"
  when: ansible_facts['distribution'] == 'Archlinux'
